<!DOCTYPE html>
<head>
  <title>Simplified to Traditional Chinese</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='yi.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='yi.png') }}" class="icon" />
  <h3>Convert Simplified Chinese to Traditional</h3>
  <form action="/" method="post">
    <input type="text" name="characters" placeholder="Input characters" required />
    <input type="submit" value="Convert" />
  </form>
  {% if simp_pinyin and trad_zhuyin %}
  <div class="result">
    Simplified with Pinyin: {{ simp_pinyin|safe }}
    Traditional with Zhuyin: {{ trad_zhuyin|safe }}
</div>
{% endif %}
</body>
